notas/
practica.clase/
material.clase/
entregas/03.servidorExpress/node_modules
entregas/primerPreEntrega/node_modules
entregas/04.websocketsHandlebars/node_modules
entregas/primerPracticaIntegradora/node_modules
entregas/primerPracticaIntegradora/src/file
entregas/segundaPreEntrega/node_modules
entregas/05.implementacionLogin/node_modules
entregas/06.refactorLogin/node_modules
entregas/segundaPracticaIntegradora/node_modules
entregas/07.reestructuraServidor/node_modules
entregas/tercerPreEntrega/node_modules
entregas/08.optimizacion/node_modules
entregas/09.implementacionLogger/node_modules
entregas/tercerPracticaIntegradora/node_modules
entregas/10.documentarAPI/node_modules