<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>

    <form action="/api/sessions/register" method="POST">
        <label for="first_name">Nombre:</label>
        <input type="text" name="firs_name" required>
        <br>
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Register</button>
    </form>

    <a href="/login">Login</a>
</body>

</html>
