<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto eCommerce - Maximiliano Ramos Zwenger</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>Bienvenido al proyecto de eCommerce con nodeJS</p>
</body>
</html>